.nps-search-results--list-wrapper {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-left: 0px;
  background-color: #eee;
  min-height: 100vh;
}

.nps-search-results--list-wrapper .nps-search--item:first-of-type {
  margin-left: 0px;
}

.no-repositories--found {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-repositories--found img {
  width: 400px;
}
.no-repositories--found h3 {
  margin-top: 10px;
}

.searching-repositories {
  padding: 30px;
  background-color: #cbcee4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searching-repositories h3 {
  margin-left: 10px;
}
